<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CapaDatos.Properties.Settings.cn" connectionString="Data Source=RLLUBERES-PC\SQLEXPRESS;Initial Catalog=dbventas;Integrated Security=True" />
    </connectionStrings>
</configuration>